
/* html, body { height: 100%; margin: 0;} */
header{
    position:top;
    margin:0;
    border:1px solid black;
    width: 100%;
}

.encabezado{
        display: grid; 
        grid-template-columns:100%; /* Tres columnas de igual tamaño */ 
        gap: 10px; /* Espacio entre las columnas */ 
        padding: 5px;
        /* border:1px solid black; */            
        /* border-radius:25px; */
        background: rgb(210,28,119);
        background: linear-gradient(0deg, rgba(210,28,119,1) 0%, rgba(128,0,64,1) 31%);
   
}
.encabezado .titulog{
    width:100%;
    display:flex;
    flex-direction:row;
   /*  background-color: #800040; Color de fondo del encabezado */
    color:white;
}

.logito{
 justify-content:center;
 width:60px;
 height:60px;
 background:url("../imagenes/logo2.jpg")no-repeat center;
 background-size:contain;
 border-radius:25px;
}
.titulog .titulo1{
  padding:10px;
  justify-content:center;
  text-align:left;
  text-align: justify; /* Alinea el texto justificado */
  word-wrap: break-word; /* Permite el ajuste de palabras largas */ 
  overflow-wrap: break-word;
    
}
@media (max-width: 480px) { 
    .titulo1 { 
        font-size: 12px; /* Tamaño de fuente aún más pequeño en pantallas muy pequeñas */ 
        
    }
    .logito{
        border-radius:25px;
    }
    .mensaje{
        min-width: 100%;
    }        
}
.enlaces{
    background-color: #064006 ;
    border-radius:15px;
    min-height: fit-content;
    
}

.navbar{/* Dirección del menu*/
    display:flex;
    flex-direction:row;        
    justify-content:center;
    
    
}
.navbar ul{
    display:flex;
     width:100%;
     list-style: none;
     
}
.navbar ul li{
     padding:2px;
     margin: 0 15px; /* Espacio entre los enlaces */
     position:relative;
     width:50%;
    
}
.navbar ul li a { 
    color: #fff; 
    text-decoration: none; 
    font-size: 16px; 
    padding: 2px 15px; 
    display: block; /* Asegura que el área de enlace sea clickeable */ 
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    text-align:center;
}
.navbar ul li a:hover { 
color: orange; /* Color al pasar el ratón */ 
background-color: rgba(255, 99, 71, 0.2); /* Fondo al pasar el ratón */ 
transform: scale(1.0); /* Efecto de aumento */ 
} 
.navbar ul li a::before { 
 content: "";
 position: absolute; 
 left: 0; 
 bottom: -3px; 
 width: 100%; 
 height: 2px; 
 background-color: #ff6347; 
 transform: scaleX(0); 
 transform-origin: left; 
 transition: transform 0.3s; 
} 
 .navbar ul li a:hover::before { 
    transform: scaleX(1);
 }

@media (max-width: 768px) { 
    .navbar ul { 
        flex-direction: column; /* Mostrar elementos en columna */ 
        align-items: center; /* Centrar los elementos */ 

    }
    .navbar ul li { 
            margin: 5px 0; /* Espacio entre los enlaces en columna */
            width:100%;
    }


}

.imagen{
    padding-top:10px;
    display:flex;
    justify-content:center;

}
img{
    border-radius:20px;
}
/*Se  Crea un contenedor para los elementos*/
.container{ 
position:relative;
display: grid; 
grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */ 
grid-template-rows: repeat(3, auto); /* Dos filas, tamaño automático */ 
gap: 10px; /* Espacio entre las celdas */ 
padding: 20px; 
max-width:100%; 
margin: auto; 

height: auto;
overflow: hidden;

} 
/*Se añade el primer el primer div al Contenedor*/
.titulo2{
grid-column:span 3;
align-items:center;


}
.titulo2 .mensaje h1{
border-radius:20px;
justify-content:center;
text-align:center;
font-family: sans-serif;/*Fuente de la letra*/
font-weight: bolder;/*Negrita*/
word-break:break-word;
line-break:normal;/*Determina como dividir lineas*/
hyphens:auto;/*Indica si se debe dividir las palabras por guiones*/
overflow-wrap:break-word;/*Indica si puede forzar partir palabras evitar desbordamiento*/

}
.mensaje2 {
grid-column:span 2;
align-items:center;
}
.mensaje2 .card{

    padding:8px;
    font-family: sans-serif;/*Fuente de la letra*/
    /* font-weight: bolder;Negrita*/
    border:2px solid green;
    text-align:justify;
    background-color: #fef9e7 ;
    color:#800040;
    z-index: 5;
    }

.mensaje3 {
grid-column:span 2;
align-items:center;
}

.mensaje3 .card{

padding:8px;
font-family: sans-serif;/*Fuente de la letra*/
/* font-weight: bolder;Negrita*/
border:2px solid green;
text-align:justify;
background-color: #fef9e7 ;
color:#800040;
z-index: 5;
}


/*Se añade el primer el segundo div al Contenedor*/
.imagen{
grid-column:3; /* Se coloca el elemento en la segunda columna*/   
grid-row:span 2; 
align-items:center;
}
.img-max{ 
max-width: 50%; 
max-height:250px; 
border: 2px solid #dc3545;
}
/* Estilo responsive */ 

@media (max-width: 768px) { 
    .container { 
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */ 
    } 
} 
@media (max-width: 480px) { 
    .container { 
        grid-template-columns: 1fr;  /*Una columna en pantallas pequeñas */

    }
    .titulo2, .mensaje2, .mensaje3, .imagen{
         grid-column: span 1; /* Asegura que cada elemento ocupe una columna completa */

    }
}
.img-max{  
    width: 100%; 
    height: 100%; 
    animation: rotar 5s infinite; 
}
 @keyframes rotar { 
    0% { 
        transform: rotateY(0 deg); 
    } 
    100% { 
        transform: rotateY(360deg);
     } 

}

#loginForm .form-group input{
    border:1px solid rgba(0,0,0,1.0);
    
}

.form-group input[type="text"] { 
    padding: 5px; 
    margin-top: 10px; 
    border: 2px solid #0f0d0d; 
    /*color: #ff5733;  Color del texto */ 
    font-weight: bold; /* Negrita en el texto */
    transition: font-size 2s ease-in-out;
    color: #800040;
}
.form-group input:focus,select:focus { /*Borde de los focus de los inputs*/
  outline: none;
  box-shadow: 0 0 0 4px hsl(70, 94%, 47%);
}
.form-group button:hover::before{
    border: 2px solid #ccc; 
    font-weight: bold; /* Negrita en el texto */
    box-shadow: 0 0 0 4px hsl(73, 56%, 80%);
}
.form-group label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    padding: 5px;

}
.modal-header{
    background-color: #800040;
}
.modal-body{
    /* opacity: 0.3; 50% de opacidad 
    background: url("../imagenes/fondos/fondo4.jpg")no-repeat center;
    background-size: cover; */
  /* background: rgb(23,90,17);
   background: linear-gradient(0deg, rgba(23,90,17,1) 0%, rgba(80,228,89,1) 100%);
   background-color: #064006;*/
   color: #fef9e7;
   padding: 20px;
   background: rgb(189, 189, 189);
   background: linear-gradient(90deg, rgb(1, 78, 21) 0%, rgb(65, 39, 15) 0%, rgb(92, 4, 3) 48%, rgb(233, 126, 169) 100%);
   background-size: 300% 100%;
   animation: gradient 15s ease infinite;

}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.modal{
    border-radius: 25px;
}
.modal-footer button{
    color:#fff;
}
.moldal-footer a:hover{
    color: white;
}
.modal-footer button #iniciar{
    width: 120px;
}
.statusMsg{/*PROPIEDADES DEL MENSAJE DE ERROR DEL FORMULARIO*/
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 14px;

}
.social-media { 
    display: flex; 
    border-radius:25px;        
    gap: 20px; 
    width: 200px;
    justify-content:center; 
    
}
 .social-media a { 
    color: #333; 
    font-size: 24px; 
    transition: color 0.3s; 
} .social-media a:hover { 
    color: #007bff;
 } .facebook:hover { 
    color:rgb(171, 173, 179); 
} .twitter:hover { 
    color: #1da1f2; 
} .instagram:hover { 
    color: #e1306c; 
} 
 .linkedin:hover {
     color: #0077b5;
 }
 footer{
    height: 100px;
    width: 100%;
     display:flex;       
     margin:0;
     padding:25px;
     flex-direction:column;
     position:sticky;
     justify-content:center;
     text-align:center;
     align-items:center;
     background:#800040;
     color:white;
     bottom: 0;
}